

    




<div class="carousel slide contain custom-slider-main container">

<div>
<a class="carousel-control-prev" (click)="scrollLeft()" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
</a>
<a class="carousel-control-next" (click)="scrollRight()" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>

</a>
</div>

  <div ngModel #widgetsContent class="row">

      <div class="row__inner">
  
        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="../assets/1.png" alt=""  />
          </div>
          <div class="tile__details">
            <h2 class="h2 mx-3">Photoshop</h2>
            <div class="tile__title mx-5">
              Nivel de Conhecimento:
              <div class="progress my-2" style=" height: 4px; width: 100%;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 90%; background-color: #5cf34e;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="tile">
          <div class="tile__media">
            <img class="tile__img"  src="../assets/2.png" alt=""  />
          </div>
          <div class="tile__details">
            <h2 class="h2 mx-3">Ingles</h2>
            <div class="tile__title mx-5">
              Nivel de Conhecimento:
              <div class="progress my-2" style=" height: 4px; width: 100%;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%; background-color: #5cf34e;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="tile">
          <div class="tile__media">
            <img class="tile__img"  src="../assets/3.png" alt=""  />
          </div>
          <div class="tile__details">
            <h2 class="h2 mx-3">Office</h2>
            <div class="tile__title mx-5">
              Nivel de Conhecimento:
              <div class="progress my-2" style=" height: 4px; width: 100%;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 60%; background-color: #5cf34e;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="../assets/4.png" alt=""  />
          </div>
          <div class="tile__details">
            <h2 class="h2 mx-3">JavaScript</h2>
            <div class="tile__title mx-5">
              Nivel de Conhecimento:
              <div class="progress my-2" style=" height: 4px; width: 100%;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 80%; background-color: #5cf34e;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="tile">
          <div class="tile__media">
            <img class="tile__img"  src="../assets/5.png" alt=""  />
          </div>
          <div class="tile__details">
            <h2 class="h2 mx-3">Java</h2>
            <div class="tile__title mx-5">
              Nivel de Conhecimento:
              <div class="progress my-2" style=" height: 4px; width: 100%;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 85%; background-color: #5cf34e;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="tile">
          <div class="tile__media">
            <img class="tile__img"  src="../assets/6.png" alt=""  />
          </div>
          <div class="tile__details">
            <h2 class="h2 mx-3">HTML5</h2>
            <div class="tile__title mx-5">
              Nivel de Conhecimento:
              <div class="progress my-2" style=" height: 4px; width: 100%;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 90%; background-color: #5cf34e;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="../assets/7.png" alt=""  />
          </div>
          <div class="tile__details">
            <h2 class="h2 mx-3">Git</h2>
            <div class="tile__title mx-5">
              Nivel de Conhecimento:
              <div class="progress my-2" style=" height: 4px; width: 100%;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 65%; background-color: #5cf34e;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="../assets/8.png" alt=""  />
          </div>
          <div class="tile__details">
            <h2 class="h2 mx-3">Illustator</h2>
            <div class="tile__title mx-5">
              Nivel de Conhecimento:
              <div class="progress my-2" style=" height: 4px; width: 100%;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%; background-color: #5cf34e;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="../assets/10.png" alt=""  />
          </div>
          <div class="tile__details">
            <h2 class="h2 mx-3">Angular CLI</h2>
            <div class="tile__title mx-5">
              Nivel de Conhecimento:
              <div class="progress my-2" style=" height: 4px; width: 100%;">
                <div class="progress-bar  bg-danger" role="progressbar" style="width: 40%; " aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      
    </div>
  
  </div>


  