

<div class="container mt-5">
    <div class="row ">
      <div class="col">
        
        <div class="mt-5">
            <h1 class="h1 font-weight-bold mb-5" style="color: white;">Olá mundo!</h1>

            <a href="../assets/curriculo-thiago.pdf" download="curriculo-thiago" class="btn btn-dark buttonp" role="button" aria-pressed="true">Dowload</a>
            <p class="lead mt-2 " style="color: white;">
                Meu nome é Thiago sou formado em Técnico em desenvolvimento de
                sistemas pelo Senai. Sou dedicado e criativo, muito empenhado e disposto
                a aprender, busco principalmente oportunidades onde eu possa desenvolver uma
                carreira e crescer profissionalmente. 
            </p>
            <hr class="my-4" style="color: white;">

        </div>

      </div>
      
      <div class="col">
        <img src="../assets/Eu.png" style="width: 600px;" alt="">
      </div>    
    </div>
    

    <div class="row">
        <div class="col">

            <h2 class="h2 mx-4 mb-1" style="color: white;">Skills:</h2>
            <app-carrousel></app-carrousel>
            
        </div>
    </div>
  </div>


  <div class="jumbotron jumbotron-fluid" style="color: white;">
    <div class="container">
      <h1 class="display-4">Experiências profissionais:</h1>
      <hr class="my-4" style="color: white;">
      <br>
      <div class="container">
        <div class="row">
            <div class="col">
                
                <h3 class="h3">Janet Tecnologias</h3>
                <p class="lead mt-4">Cargo: Técnico em Manutenção de computadores</p>
                <p class="lead mt-1">MAI DE 2019 - AGO DE 2020</p>
                <p class="lead mt-3">Realizava manutenção de computadores e notebooks de clientes</p>
            </div>
            <div class="col">
                
                <h3 class="h3">Plansul</h3>
                <p class="lead mt-4">Cargo: Operador de call center</p>
                <p class="lead mt-1">OUT DE 2021 - ATUAL</p>
                <p class="lead mt-3">Atendimento a clientes e funcionários, contrato Caixa filas:</p>
                <p class="lead" style="font-size: 13px;">SAC_Geral, SAC_Habitação, CID_Bolsas, WEB_Habitação_Concessão,WEB_Habitação_Manutenção, WEB_Programas_Sociais, WEB_FGTS</p>
            </div>
        </div>
      </div>
    </div>
  </div>

<div style="background-color: rgba(255, 255, 255, 0.616)">

    <div class="container mt-3">
        <div class="jumbotron row">
            <h1 class="display-4 mt-5">Formações Acadêmicas</h1>
            <hr class="my-4">

        <div class="col">
            <h3 class="h3">Senai - Ensino Medio Técnico</h3>
            <p class="lead mt-1">JAN DE 2018 - DEZ DE 2020</p>
            <p class="lead mt-3">Ensino Médio técnico em TI com ênfase em desenvolvimento de sistemas</p>
     
        </div>
        <div class="col">
            <h3 class="h3">Uninter, EAD — Licenciatura em música</h3>
            <p class="lead mt-1">DESDE JUL DE 2021</p>
            <p class="lead mt-3">Cursando Superior em música, hobbie</p>
     
          </div>
      </div>
  </div>
</div>


<div class="container mt-3" style="color: white;">
  <div class="jumbotron">
    <div class="row mt-4">
      <h1 class="display-4 mt-5">Projetos</h1>
      <hr class="my-4">
      
      <div class="col">
        <h3 class="h3">Protetor Ambiental — projeto de educação ambiental</h3>
        <p class="lead mt-3">Protetor ambiental é um projeto da PMA que visa ensinar ordem, decência e
          questões ambientais a jovens e adolescentes.</p>
          
        </div>
        <div class="col">
          <h3 class="h3">IPPY — Iniciação à programação em python</h3>
          <p class="lead mt-3">Junto com um amigo criamos esta iniciativa para ensinar o básico de
        programação para crianças em uma escola pública.</p>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h3 class="h3">PongVsIa — Inteligência Artificial para jogar pong</h3>
      <p class="lead mt-3">Inteligência artificial programada em python feita para jogar pong, apenas
        para fins didáticos, utilizando a biblioteca pybrain e pygame:
        <a target="_blank" style="color: white;" href="https://github.com/Manolinho009/iaVsPong"> https://github.com/Manolinho009/iaVsPong </a></p>
      </div>
    </div>
  </div>
</div>
</div>
  

<div class="mt-5" style="background-color: black; height: 300px;">
<div class="container" style="color: white;">
  <div class="row">
    <hr class="my-4" style="color: white;">
    <div class="col">
      <h3 class="display-6 mt-3">Contato</h3>
      <p class="lead mt-3"> Email - thiagohenrique166@gmail.com</p>
      <p class="lead mt-3"> Tel - (48) 9 8461-4267</p>
    </div>
    <div class="col">
      <h3 class="display-6 mt-3">Links</h3>
      <br>
      <a class="mt-1" style="color:white" href="linkedin.com/in/thiago-rocha-898458181/">linkedin</a>
      <br>
      <a class="mt-1" style="color:white" href="github.com/manolinho009">Github</a>
      <br>
      <a class="mt-1" style="color:white" href="behance.net/thiagorocha166">Behance</a>
      <br>
      <a class="mt-1" style="color:white" href=":instagram.com/thithi.rocha/">Instagram</a>
          
    </div>
  </div>
</div>

<p class="lead mt-5" style="font-size: 13px; text-align: center;background-color: black; color:white">Obrigado pela visita!! Caso não seja desta vez gentiliza encaminhar feedback por email.</p>
</div>

